<div *ngIf="isLoaded" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{getTitle()}} </h4>
                        <p class="card-category">The order form</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company"
                                               [(ngModel)]="orderDetail.companyId" name="companyId">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Driver"
                                               [(ngModel)]="orderDetail.driverId" name="driverId">
<!--                                               [(ngModel)]="orderDetail.driver.firstName + ' ' + orderDetail.driver.lastName">-->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Loading place" type="text"
                                               [(ngModel)]="orderDetail.startPlace" name="startPlace">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Place of unloading" type="text"
                                               [(ngModel)]="orderDetail.destination" name="destination">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mileage rate" type="number"
                                               [(ngModel)]="orderDetail.mileageRate"
                                               (change)="calculateProfit()" name="companyId">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Route length (km)" type="number"
                                               [(ngModel)]="orderDetail.mileage"
                                               (change)="calculateProfit()" name="companyId" min="0">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Type of cargo"
                                               [(ngModel)]="orderDetail.cargoType" name="companyId">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Estimated income" type="number"
                                               [(ngModel)]="orderDetail.profit" name="profit" min="0">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Creation date" type="datetime-local"
                                               [(ngModel)]="orderDetail.creationDate" disabled="true" name="creationDate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date of unloading" type="datetime-local"
                                               [(ngModel)]="orderDetail.endDate" name="endDate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="isEdit">
                                    <label>Status</label>
                                    <ng-select #orderStatusId name="orderStatusId"
                                               [(ngModel)]="orderDetail.orderStatusId"
                                               [ngModelOptions]="{standalone: true}"
                                               [items]="orderStatuses"
                                               (change)="setOrderStatus()"
                                               bindValue="id"
                                               bindLabel="description">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <label>Additional info</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button  (click)="save()"
                                     mat-raised-button class="btn btn-danger pull-right" id="approveButton" >Approve</button>
                            <button (click)="goBack()"
                                     mat-raised-button class="btn btn-danger pull-right" type="submit" id="backButton" >Back</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
